---
layout: main
title: Gallery
permalink: /gallery/
gallery:
  - caption: Blue Moon
    file: https://images.unsplash.com/photo-1602149564911-ea160c1c1743?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
  - caption: Orange Sunset
    file: https://images.unsplash.com/photo-1601984376939-2b071e66420f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
  - caption: Ocean from above
    file: https://images.unsplash.com/photo-1587582685719-5cba83dc1d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Aurora Borealis
    file: https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Find the Book
    file: https://images.unsplash.com/photo-1610482141777-36c5829734d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&q=80
    aspectratio: small
  - caption: Blue Moon
    file: https://images.unsplash.com/photo-1602149564911-ea160c1c1743?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
  - caption: Orange Sunset
    file: https://images.unsplash.com/photo-1601984376939-2b071e66420f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
  - caption: Ocean from above
    file: https://images.unsplash.com/photo-1587582685719-5cba83dc1d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Aurora Borealis
    file: https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Find the Book
    file: https://images.unsplash.com/photo-1610482141777-36c5829734d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&q=80
    aspectratio: small
  - caption: Blue Moon
    file: https://images.unsplash.com/photo-1602149564911-ea160c1c1743?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
  - caption: Orange Sunset
    file: https://images.unsplash.com/photo-1601984376939-2b071e66420f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
  - caption: Ocean from above
    file: https://images.unsplash.com/photo-1587582685719-5cba83dc1d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Aurora Borealis
    file: https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
---

<section>

    <div class="content">

        <ul class="gallery">

            {% for item in page.gallery %}
            <li {% if item.aspectratio %} class="{{ item.aspectratio }}"{% endif %}>
              <input type="checkbox" name="gallery_item_{{ forloop.index }}" id="gallery_item_{{ forloop.index }}">
              <label for="gallery_item_{{ forloop.index }}">
                <span><img src="{{ item.file }}&w=300" alt=""></span>
                <strong>{{ item.caption }}</strong>
              </label>
                <a href="{{ item.file }}&w=960" target="_blank">
                    <span><img src="{{ item.file }}&w=800" alt=""></span>
                    <strong>{{ item.caption }}</strong>
                </a>
                <label class="close" for="gallery_item_{{ forloop.index }}"><i class="fas fa-times"></i></label>
            </li>

            {% endfor %}

        </ul>

    </div>

</section>

<div class="modal">
    <div class="inner">
        <span>
            <img src="https://images.unsplash.com/photo-1602149564911-ea160c1c1743?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
        </span> 
    </div>
</div>