<article class="article {{ include.class }}">

    <div class="media">
        <img src="https://images.unsplash.com/photo-1602149564911-ea160c1c1743?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80" alt="">
    </div>

    <header>
        <h3>Title goes here</h3>
    </header>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ab explicabo cum, debitis maxime quia recusandae aut expedita id sint iste in qui beatae voluptate aspernatur assumenda voluptates quisquam culpa.</p>

    <a href="#" class="button">Read more</a>

</article>