.page-animations .site-main h1,
.page-animations .site-header,
.page-animations .site-footer {
    display: none;
}

.page-animations {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

/* .box {
    width: 6em;
    height: 6em;
    background-color: #F00;
    position: absolute;
    top: 0; left: 0;
    animation: around 4s ease-in-out infinite;
} */

.box {
    width: 20em;
    height: 15em;
    border: 2px solid #000;
    margin: 2em auto;
    background: #EEE;
}

.box:hover {
    -webkit-animation: shake 0.5s ease;
            animation: shake 0.5s ease;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2em);
    }

    40% {
        transform: translateX(2em);
    }

    60% {
        transform: translateX(-1em);
    }

    80% {
        transform: translateX(1em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2em);
    }

    40% {
        transform: translateX(2em);
    }

    60% {
        transform: translateX(-1em);
    }

    80% {
        transform: translateX(1em);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes around {
    0% {
        top: -2em;
        left: -10em;
    }
    25% {
        top: -2em;
        left: calc(100vw - 16em);
    }
    50% {
        top: calc(100vh - 8em);
        left: calc(100vw - 16em);
    }
    75% {
        top: calc(100vh - 8em);
        left: -10em;
    }
    100% {
        top: -2em;
        left: -10em;
    }
}

@keyframes around {
    0% {
        top: -2em;
        left: -10em;
    }
    25% {
        top: -2em;
        left: calc(100vw - 16em);
    }
    50% {
        top: calc(100vh - 8em);
        left: calc(100vw - 16em);
    }
    75% {
        top: calc(100vh - 8em);
        left: -10em;
    }
    100% {
        top: -2em;
        left: -10em;
    }
}

/*
 * This one is used for the Gallery
 */

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}