<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body class="{% if page.title %}page page-{{ page.title | slugify }}{% endif %}
    {% if page.home %}home{% endif %}
    {% if post.title %}post{% endif %}">

    <div class="site">

        <input type="checkbox" class="toggle-nav" id="toggle-nav">
        <header class="site-header">

            {% if page.home == true %}
                <h1 class="site-title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </h1>
            {% else %}
                <p class="site-title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </p>
            {% endif %}

            {% include navigation.html location="header" %}

        </header>

        <main class="site-main">

            {% if page.title %}
            <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

        </main>

        {% include sidebar.html %}

        <footer class="site-footer">
            <p>All rights reserved &copy; {{ site.github_username }}</p>
        </footer>
    </div>

</body>
</html>